body {
    text-align: center;
    overflow: hidden;
}

.panel {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: calc(100% - 610px);
}



#result {
	font-size: 20px;
}

#reset {
	display: none; 
}
