body {
    text-align: center;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	padding-top: 50px;
	transition: 1s;
}

.modal h1 {
	margin-bottom: 150px;
}

.modal p {
	margin-bottom: 50px;
}

.select {
	display: flex;
	justify-content: space-around;
}

.character {
	width: 100px;
  	height: 170px;
}

.panel {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: calc(100% - 610px);
}

#reset, #result, #switch {
	display: none;
}

.redText {
	color: red;
}


#result {
	font-size: 20px;
}

#reset {
	display: none; 
}
